In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Problem Statement 5

Perform the following operations on any open source dataset
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.
2. Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset.

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/exam_datasets/7.social_network_ads.csv')
data.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [21]:
data = data.replace('Male',1)
data = data.replace('Female',0)
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [19]:
grouped = data.groupby('Age')

summary = grouped['Age'].agg(['mean', 'median', 'min', 'max', 'std'])

print(summary)

     mean  median  min  max  std
Age
18   18.0    18.0   18   18  0.0
19   19.0    19.0   19   19  0.0
20   20.0    20.0   20   20  0.0
21   21.0    21.0   21   21  0.0
22   22.0    22.0   22   22  0.0
23   23.0    23.0   23   23  0.0
24   24.0    24.0   24   24  0.0
25   25.0    25.0   25   25  0.0
26   26.0    26.0   26   26  0.0
27   27.0    27.0   27   27  0.0
28   28.0    28.0   28   28  0.0
29   29.0    29.0   29   29  0.0
30   30.0    30.0   30   30  0.0
31   31.0    31.0   31   31  0.0
32   32.0    32.0   32   32  0.0
33   33.0    33.0   33   33  0.0
34   34.0    34.0   34   34  0.0
35   35.0    35.0   35   35  0.0
36   36.0    36.0   36   36  0.0
37   37.0    37.0   37   37  0.0
38   38.0    38.0   38   38  0.0
39   39.0    39.0   39   39  0.0
40   40.0    40.0   40   40  0.0
41   41.0    41.0   41   41  0.0
42   42.0    42.0   42   42  0.0
43   43.0    43.0   43   43  0.0
44   44.0    44.0   44   44  0.0
45   45.0    45.0   45   45  0.0
46   46.0    46.0   46   46  0.0
47   47.0    47.0   47   47  0.0
48   48.0    48.0   48   48  0.0
49   49.0    49.0   49   49  0.0
50   50.0    50.0   50   50  0.0
51   51.0    51.0   51   51  0.0
52   52.0    52.0   52   52  0.0
53   53.0    53.0   53   53  0.0
54   54.0    54.0   54   54  0.0
55   55.0    55.0   55   55  0.0
56   56.0    56.0   56   56  0.0
57   57.0    57.0   57   57  0.0
58   58.0    58.0   58   58  0.0
59   59.0    59.0   59   59  0.0
60   60.0    60.0   60   60  0.0

In [24]:
data["Age"].min()

18

In [25]:
data["Age"].max()

60

In [26]:
data["Age"].std()

10.482876597307914

In [27]:
data["Age"].mean()

37.655

In [28]:
data["Age"].median()

37.0

In [29]:
data["Age"].nunique()

43

In [31]:
data.groupby(["EstimatedSalary","Age"]).count()

                     User ID  Gender  Purchased
EstimatedSalary Age
15000           26         2       2          2
                30         1       1          1
                31         1       1          1
16000           21         1       1          1
                26         1       1          1
...                      ...     ...        ...
148000          29         1       1          1
149000          33         1       1          1
                42         1       1          1
150000          32         1       1          1
                52         1       1          1

[365 rows x 3 columns]

In [13]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/exam_datasets/5-8-13-14.iris.csv')
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB